body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("../assets/Mapa.png");
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
}

.character-selection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
}

.player-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 200px;
    height: 250px; 
    margin: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 12px; 
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

.character {
    width: 200px; 
    height: 250px; 
    margin: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 400px;
    transition: transform 0.2s;
}

/* Estilo para cada personaje */
.character.finn {
    background-image: url('../assets/finn/fin.png');
    background-position: 1 1; /* Cambiar para mostrar la acción deseada */
}

.character.mordecai {
    background-image: url('../assets/mordecai/mordecai.png');
    background-position: 0 0; 
}

.character.rigby {
    background-image: url('../assets/rigby/rigby.png');
    background-position: 0 0; 
}

.character.jake {
    background-image: url('../assets/jake/jake.png');
    background-position: 0 0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    outline: none;
}

.prev {
    left: -50px;
}

.next {
    right: -50px; 
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}

.selected-character {
    width: 150px; 
    height: 150px; 
    background-repeat: no-repeat;
    display: none;
    margin-top: 10px;
    position: relative;
}

.buttons {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
